@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
/* CSS Reset */

html {
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* END CSS Reset */

:root {
--primary: hsl(35, 77%, 62%);
--secondary: hsl(5, 85%, 63%);
--offwhite: hsl(36, 100%, 99%);
--grayishblue: hsl(233, 8%, 79%);
--darkgrayishblue: hsl(236, 13%, 42%);
--verydarkblue: hsl(240, 100%, 5%);
}

p {
  color: var(--darkgrayishblue)
}